@model IEnumerable<TMecanicoC.Models.Seguros>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacaNavigation.Placa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSeguros">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.IdSeguros">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.IdSeguros">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
