@model TMecanicoC.Models.Personas

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>Está seguro de querer eliminar este registro?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Credencial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Credencial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CiudadDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CiudadDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoNivelEstudio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoNivelEstudio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRolNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRolNavigation.IdRol)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DocIdentificacion" />
        <input type="submit" value="Elimino este registro?" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a listar</a>
    </form>
</div>
