@model TMecanicoC.Models.Personas

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Personas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Credencial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Credencial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CiudadDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CiudadDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoNivelEstudio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoNivelEstudio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRolNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRolNavigation.IdRol)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DocIdentificacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
