@model TMecanicoC.Models.RevNiveles

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>RevNiveles</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelAceite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelAceite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelFrenos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelFrenos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelRefrigerante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelRefrigerante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlacaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacaNavigation.Placa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdRevNiveles">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
