@model IEnumerable<TMecanicoC.Models.RevNiveles>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelAceite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelFrenos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelRefrigerante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelDireccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelAceite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelFrenos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelRefrigerante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelDireccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacaNavigation.Placa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRevNiveles">Edit</a> |
               @* <a asp-action="Details" asp-route-id="@item.IdRevNiveles">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.IdRevNiveles">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
