@model TMecanicoC.Models.Vehiculos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Vehiculos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadPasajeros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadPasajeros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CilindradaMotor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CilindradaMotor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaisOrigen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaisOrigen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtrasCaracteristicas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtrasCaracteristicas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocIdMecanicoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocIdMecanicoNavigation.DocIdentificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocIdPropietarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocIdPropietarioNavigation.DocIdentificacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Placa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
